{% extends 'cv.html' %}
{% block myDetails %}

<div id="list">
    <div id="response" >   </div>
</div>

<form action= "" method="get"  id="searchForm">
     <label for="search" >please enter first name or last name or email:</label><br>
     <input name ="search" id="search" type="text"> <br>
     <input type="submit" ><br>

    {% if result %}
        <h4>The use details is:</h4>
        <div>{{result}}</div>
    {% else %}
        <h4>The search failed!!</h4>
        <div>{{users_list}}</div>
    {% endif %}


</form>


<form method="post" id="registratiomForm">

</form>
{% endblock %}